<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>欢迎</title>
    <link rel="stylesheet"  href="/static/css/bootstrap.min.css">
     <link rel="stylesheet"  href="/static/css/a.css">

    {% include 'base/js.html' %}
   {% comment %} <script src="/static/js/jquery-3.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>{% endcomment %}
</head>
<body>
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!--定义汉堡按钮-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <!--定义三条线-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">智能筛选</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">图表分析 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">图表分析</a></li>
                <li><a href="#">图表分析</a></li>
                <li><a href="#">图表分析</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">图表内容 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">4</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索某某地方">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">图表分析</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">关于我们<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">加入我们</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
        </div>
        <div class="row">
            <div class="col-md-6 f_one">
                <div class="container-fluid ">
                    <div class="row f_second">
                        <div class="c3"></div>
                        <p>欢迎来到智能筛选系统</p>
                        <p>请确认你的信息</p>
                        <div class="c1"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 d1">
                            <input type="text" placeholder="请输入邮箱">
                        </div>
                        <div class="col-md-4 d2">
                            <input type="password" placeholder="请输入密码">
                        </div>
                        <div class="col-md-4 d3">
                            <input type="button" value="免费注册">
                        </div>
                    </div>
                    <div class="row">
                        <div class="c2"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 d4">
                <h1>
                    <img src="/static/img/p1.png">
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="c1"></div>
            <div class="container-fluid d6">
                <div class="row">
                    <div class="c4"></div>
                    <h1 class="e1">欢迎来到图表查看</h1>
                    <div class="c4"></div>
                </div>
                <div class="row">
                        <div class="d5" id="d5">

                        </div>
                    <div class="c3"></div>
                </div>
            </div>
        </div>
    </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('d5'));

        var k = [];
        var v = [];
        $.ajax({
            url:'/a/',
            success: function (res) {
                {#console.log(res)#}
                for (var re in res) {
                    k.push(re);
                    v.push(res[re]);
                }
            }
        });
        console.log(k);
        console.log(v);

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</html>